<div class="header">
    <div class="logo-container">
        <p>logo</p>
    </div>
    <div class="options-container">
        <ul>
            <li (click)="onAdoptClick()">
                <span>ADOPT</span>
            </li>

            <li (click)="onTherapyClick()">
                <span>THERAPY</span>
            </li>

            <li (click)="onTrainingClick()">
                <span>TRAINING</span>
            </li>

            <li (click)="onSittersClick()">
                <span>SITTING</span>
            </li>
        </ul>
    </div>
    <button>Log in</button>
</div>





