<div class="header">
    <div class="logo-container">
        <p>logo</p>
    </div>
    <div class="options-container">
        <ul>
            <li >
                <span routerLink="/adopt">ADOPT 
                </span>
            </li>

            <li >
                <span routerLink="/therapy">THERAPY
                </span>
            </li>

            <li>
                <span routerLink="/training">TRAINING
                </span>
            </li>

            <li >
                <span routerLink="/sitting">SITTING
                </span>
            </li>
        </ul>
    </div>
    <button (click)="onRegistrationClick()" routerLink="/registration">Registration</button>    
    <button routerLink="/login" *ngIf="!loginFlag">Log in</button>
    <button routerLink="/adopt" *ngIf="loginFlag" (click)="logOut()">Log out</button>
</div>





