<div class="header">
    <div class="logo-container">
        <p>logo</p>
    </div>
    <div class="options-container">
        <ul>
            <li (click)="onAdoptClick()">
                <a href="/">ADOPT</a>
            </li>

            <li (click)="onTherapyClick()">
                <a href="/">THERAPY</a>
            </li>

            <li (click)="onTrainingClick()">
                <a href="/">TRAINING</a>
            </li>

            <li (click)="onSittersClick()">
                <a href="/">SITTING</a>
            </li>
        </ul>
    </div>
    <button>Log in</button>
</div>





