<div>
    <h1>Find a trainer for your animal</h1>
</div>
<div class="container">
    <div class="plp-option-container">
        <div class="agefilter">
            <label>Filter by age</label>
        </div>

        <div class="ageSort">
            <label>sort by age</label>
        </div>

        <div class="agefilter">
            <button>APPLY</button>
        </div>


    </div>
    <div class="plp-tile-container">
        <app-user-tile  *ngFor="let user of trainers" [user]="user"></app-user-tile>
    </div>
</div>
